@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}
body {
  margin: 0;
  background-image: url(./331483-panda-jungles-cigars-tuxedo.jpg);
  font-family: 'Bebas Neue', cursive;
}
h1 {
  text-align: center;
  color: white;
  text-shadow: 3px 3px rgb(0, 255, 0);
}
.container {
  /*задать ширину*/
  max-width: 980px;
  margin: 0 auto;
  background-color: rgba(0, 255, 0, 0.486);
}
.row {
  /*строка*/
  display: flex;
  flex-wrap: wrap;
}
[class^="col"] {
  padding: 0 10px;
}
.col-4 {
  flex-basis: 33.3%;
}
.col-3 {
  flex-basis: 25%;
}
.col-6 {
  flex-basis: 50%;
}
.col-12 {
  flex: 100% 1 1;
}
.col-1 {
  flex: 8.3% 1 1;
}
.col-2 {
  flex: 16.6% 1 1;
  background-color: green;
  margin-bottom: 15px;
}
.col-5 {
  flex: 41.6% 1 1;
}
.col-6 {
  flex: 50% 1 1;
}
.col-7 {
  flex: 58.3% 1 1;
}
.col-8 {
  flex: 66.6% 1 1;
}
.col-9 {
  flex: 75% 1 1;
}
.col-10 {
  flex: 83% 1 1;
}
.col-11 {
  flex: 91.6% 1 1;
}
.card {
  background-image: url(./1612565099_159-p-yarkie-krasivie-zelenie-foni-179.jpg);
  border: 1px solid black;
  box-shadow: 0 0 10px 5px black;
  margin-bottom: 15px;
  color: rgb(65, 255, 65);
}
.card:hover {
  transform: rotate(3deg) scale(1.10);
  background-color: rgba(0, 255, 34, 0.774);
  color: white;
}
.card .card-image {
  width: 100%;
}
.card .card-content {
  padding: 10px 15px;
}
.card.card-horizonal {
  display: flex;
}
.card.card-horizonal .card-image {
  width: 30%;
}
